div#toolbar {
  grid-area: toolbar;
  height: 60px;
  display: flex;
  background-color: rgb(38, 38, 38);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
}

div#logo {
  flex: 1 0 50px;
}

nav {
  flex: 2 0 50px;
}

div#social-networks {
  flex: 1 0 50px;
}

nav > a {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

header {
  position: relative;
}

header > img {
  display: block;
  width: 100%;
}

header > .new-anime {
  position: absolute;
  top: 65%;
  left: 11%;
  right: 11%;
}

header > .new-anime > h2 {
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 100px;
  padding: 0 40px;
  background-color: rgb(48, 42, 89);
}

header > .new-anime > h2:after {
  content: '';
  position: absolute;
  left: 100%;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #302a59;
  border-left: 25px solid #302a59;
}

header > .new-anime > .slider {
  height: 400px;
  background: rgb(48, 42, 89);
}

main {
  width: 78%;
  margin: 0 auto;
  height: 500px;
  background-color: rgb(255, 255, 255);
}